body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;

    /* a supprimer */
    height: 3000px;
}
.scrollBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: darkseagreen;
}
.scrollBar__progress{
    height: 100%;
    background-color: violet;
    width: var(--scrollbar-width, 0%);
}